/*Background CSS for all pages*/
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #252427;
  min-height: 100vh;
}


.container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  background: linear-gradient(135deg, #f6f9fc 0%, #eaf3f3 100%);
  border-radius: 16px;
  box-shadow: 0 4px 20px #252427;
}

.home{
   margin: 0.5rem 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
  text-align: center;       
  width: 100vw;              
  margin: 0 auto;        
}


nav a {
  position: relative;
  text-align: center;
  margin: 12px;
  text-decoration: none;
  font-weight: 500;
  color: #acd4f3;
  transition: color 0.3s ease;
  justify-content: center;

}

nav a:hover {
  color: #3f51b5;
}

h1{
  display: inline-block;
  color:#4886ea;
  text-align: center;

}

h2, h3 {
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h2{
  justify-content: space-between;
  margin: 3px;
  padding-right: 40px;
}

p{
  color: #dcdce1;
}

button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #a0a0e2;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
/*CSS to adjust resume and heashot size in the About Me page*/
iframe{
  width: 1000px;
  height: 2500px;
}

.headshot{
  width: 50%;
  max-width: 100px; 
  height: auto;
  display: block;
}
/* CSS for project and services page*/
.proj1{
width: auto;
height: 300px;
}

.proj2{
  width: auto;
  height: 300px;
}

.proj3{
  width: auto;
  height: 300px;
}

.college{
  width: auto;
  height: 100px;
}

.serv1{
  width: auto;
  height: 200px;
}

.serv2{
  width: auto;
  height: 250px;
}

.serv3{
  width: auto;
  height: 250px;
}